.etiqueta {
  &::before {
    content: '';
    /* display: block; */
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  &.verde{
    background-color: #effff6;
    color: #037948;
    &::before {
      background-color: #0cab61;
    }
  }

  &.celeste{
    background-color: #F0F9FF;
    color: #0086C9;
    &::before {
      background-color: #0BA5EC;
    }
  }

  &.amarillo{
    background-color: #FFFAEB;
    color: #B54708;
    &::before {
	  background-color: #EE8C0B;
    }
  }
}

