.etiqueta {
  &::before {
    content: '';
    /* display: block; */
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  &.verde{
    background-color: #effff6;
    color: #037948;
    &::before {
      background-color: #0cab61;
    }
  }

  &.celeste{
    background-color: #F0F9FF;
    color: #0086C9;
    &::before {
      background-color: #0BA5EC;
    }
  }

  &.amarillo{
    background-color: #FFFAEB;
    color: #B54708;
    &::before {
      background-color: #EE8C0B;
    }
  }

  &.neutral{
    @apply bg-neutrales-200;
    color: #3D4D64;
    &::before {
      background-color: #667085;
    }
  }

  &.rojo{
    background-color: #FEF3F2;
    color: #B42318;
    &::before {
      background-color: #F03B2E;
    }
  }
}

